{% extends 'base.html' %}
{% block condent %}
{% load static %}

<div class="container">
  <div class="row justify-content-center">

    <div class="card border-info mb-3" style="max-width: 540px;border-width: 2px;">
        <div class="row g-0">
          <div class="col-md-6">
                <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA8cTn1-RRcQ_T4-cf40vYi4sjFEADIdog1TqwvXO3kw&s" style="height: 300px;" class="img-fluid rounded-start" alt="...">
              </div>
          <div class="col-md-5">
            <div class="card-body">
                <h5 class="card-title">Name:N.Sundar </h5>
                <p > <h6>User Name: Sundar<br><br>
                Gmail:Sundar.log.580@gmail.com  <br><br></h6> </p>
            </div>
          </div>
        </div>
      </div>
</div>


</div>







{% endblock %}