{% extends 'base.html' %}
{% block condent %}
{% load static %}
<div class="container">
<div class="row justify-content-center">
<div class="card border-info mb-3" style="width: 38rem; border-width: 2px;">
  <img src="{{ Data.frount_image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{Data.model}}</h5>
    <p class="card-text"> User id : {{Data.User}}<br>
      Finishing Bidding : {{Data.Finishing_bid}}<br>
      Finishing Time : {{Data.time}}<br>

    </p>
  </div>
</div>
</div>
</div>
{% endblock %}