{% extends 'base.html' %}
{% block condent %}
{% load static %}
<div class="container">
  <div class="row justify-content-center">

    <div class="card border-info mb-3" style="max-width: 540px;border-width: 2px;">
        <div class="row g-0">
          <div class="col-md-6">
            
                <img src="{{ data.userImage.url }}" style="height: 320px;" class="img-fluid rounded-start" alt="...">

              </div>
          <div class="col-md-5">
            <div class="card-body">
                <h5 class="card-title">Name: {{data.first_name}}</h5>
                <p > <h6>User Name:  {{data.user_name}} <br><br>
                Gmail:  {{data.mail}} <br><br>
                Condact: {{data.phnum}}<br><br>
                </h6> </p>
            </div>
          </div>
        </div>
      </div>
</div>


</div>



{% endblock %}